#paragraph {
    height: 700px;
}
#ani {
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    float: right;
    padding: 0px;
}
#caps {
    background: none repeat scroll 0 0 rgb(244, 244, 244);
    float: right;
    color: black;
    text-align: center;
    padding: 2px;
    outline: 1px solid grey;
}
#slideshow{
display:none;
}